html {
    font-family: Arial, Helvetica, sans-serif;
    display: inline-block;
    text-align: center;
}

h1 {
    font-size: 2rem;
    color: #ffffff;
    margin-bottom: 20px;
}

.topnav {
    overflow: hidden;
    background-color: #003366; /* Donkerblauw */
}

body {
    margin: 0;
    background-color: #e6f2ff; /* Lichtblauw */
}

.content {
    padding: 50px;
}

.card {
    background-color: white;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    padding: 30px;
    margin: 20px auto;
    border-radius: 8px; /* Ronde hoeken */
    max-width: 400px; /* Max breedte voor de kaart */
    position: relative; /* Voor absolute positionering van de meetlat */
}

.value-background {
    position: relative; /* Voor positionering van de achtergrond */
    display: inline-block; /* Zorg ervoor dat de achtergrond goed wordt weergegeven */
    width: 100%; /* Zorg ervoor dat het de volledige breedte van de container gebruikt */
    height: auto; /* Automatische hoogte */
}

.ruler-background {
    background-image: url('ruler.png'); /* Achtergrondafbeelding van de meetlat */
    background-size: cover; /* Zorg ervoor dat de afbeelding de container bedekt */
    width: 100%; /* Volledige breedte */
    height: 100px; /* Pas de hoogte aan naar wens */
    position: absolute; /* Maak het absoluut gepositioneerd */
    top: 0; /* Plaats het bovenaan */
    left: 0; /* Plaats het aan de linkerkant */
    z-index: 0; /* Zorg ervoor dat het achter de tekst staat */
}

.text-container {
    position: relative; /* Zorg ervoor dat de tekst boven de achtergrond staat */
    z-index: 1; /* Zorg ervoor dat de tekst boven de achtergrond staat */
    padding: 40px 20px; /* Ruimte rondom de tekst, verhoog de bovenste padding voor meer ruimte */
    color: #333; /* Donkergrijs voor tekst */
    background-color: rgba(255, 255, 255, 0.5); /* Witte achtergrond met 50% transparantie voor leesbaarheid */
    border-radius: 4px; /* Ronde hoeken voor de achtergrond */
}

button {
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s, transform 0.2s; /* Animatie voor hover */
}

.connectButton {
    background-color: #007bff; /* Blauw */
}

.disconnectButton {
    background-color: #dc3545; /* Rood */
}

button:hover {
    transform: scale(1.05); /* Vergroot de knop bij hover */
}

p {
    font-size: 1.2rem;
}

#bleState {
    font-weight: bold;
}
